@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .white-cont {
        @apply bg-stone-50;
    }

    .black-cont {
        @apply bg-stone-950; 
    }

    .margin-heading {
        @apply lg:mb-10 mb-6;
    }

    .card-container {
        @apply flex md:flex-row flex-col justify-center items-center md:gap-8 gap-4;
    }

    .stripes {
        @apply dark:bg-stone-50 bg-stone-950 
        outline outline-[1.5px] outline-stone-50
        dark:outline-stone-950;
    }

    .toggle-padding {
        @apply md:p-10 p-8;
    }

    .icon-link {
        @apply flex 
        border-[1.5px] border-black
        justify-center items-center
        p-4 rounded-full 
        sm:w-14 sm:h-14 md:w-fit md:h-fit
        md:hover:bg-stone-950 duration-300;
    }

    .icon-link-svg {
        @apply md:group-hover:fill-stone-50;
    }

    .input {
        @apply border-[1.5px] border-darkGray p-2 rounded-md w-full focus:outline-accent;
    }

    .cont {
        @apply lg:py-24 md:py-20 py-16 px-4 md:px-8 sm:px-6;
    }

    .form-label {
        @apply xl:text-xl lg:text-lg;
    }
}

@layer base {
    section {
        @apply snap-start snap-always; 
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-mont;
    }

    h2 { 
        @apply text-3xl font-semibold;
    }

    p, span {
        @apply font-inter;
    }
}

/* hamburger menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.stripes {
    position: absolute;
    width: 24px;
    height: 2px;
    top:0;
    left: 0;
    transform: rotate(0);
    transition: all 0.25s;
    @apply rounded-full;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transition-duration: 400ms;
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}